# BOT
TOKEN=123456789:AbCDEfGhijKLmNOPqrsTUVWxyZ
USERS=user_ids_with_comma_sep

# LOGGER
#0: silly , 1: trace , 2: debug , 3: info , 4: warn , 5: error , 6: fatal0
LOG_LEVEL=3

# DOCKER
PGADMIN_DEFAULT_EMAIL=pgadmin@email
PGADMIN_DEFAULT_PASSWORD=pgadmin_pass
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres_db
PGDATA=/path/to/postgres/pgdata